<div class="footer container">
    <div class="footer-actions cf">
        <a class="action" href="/plan">
            <div class="action-content">
                <div class="action-title">Master plan</div>
                <div class="action-description">What we're building and why it matters</div>
            </div>
            <div class="action-icon helm"></div>
        </a>
        <a class="action" href="https://boards.greenhouse.io/sourcegraph">
            <div class="action-content">
                <div class="action-title">Join the team</div>
                <div class="action-description">Come build the global code graph</div>
            </div>
            <div class="action-icon sunglasses"></div>
        </a>
    </div>
    <div class="footer-links cf">
        <ul>
            <li><a href="/plan">Master plan</a></li>
            <li><a href="https://boards.greenhouse.io/sourcegraph">Careers</a></li>
        </ul>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
        <ul>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
        </ul>
        <ul>

            <li><a href="/enterprise">Enterprise</a></li>
            <li><a href="/security">Security</a></li>
        </ul>
        <ul>
            <li><a href="https://text.sourcegraph.com/">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="footer-tagline">
        <div class="primary">
            <span>&copy; 2017 Sourcegraph, Inc.</span>
            <a href="https://twitter.com/srcgraph"><img src="assets/images/twitter.svg" /></a>
            <a href="https://github.com/sourcegraph"><img src="assets/images/github.svg" /></a>
            <a href="https://www.linkedin.com/company/sourcegraph"><img src="assets/images/linkedin.svg" /></a>
        </div>
        <div class="secondary">
            <a href="/"><img src="assets/images/sg-logo-with-tag--white.svg"></a>
        </div>
    </div>
</div>