<link href="/assets/reset.css" rel="stylesheet" />
<link href="/assets/clearfix.css" rel="stylesheet" />
<link href="/assets/style.css" rel="stylesheet" />

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
<script type="text/javascript" src="/assets/site.js"> </script>

<!-- Meta Tags -->
<meta name="twitter:site" content="@{{site.twitter_username}}">
<meta name="twitter:image" content="{{site.twitter_image}}">
<meta name="og:site_name" content="{{site.title}}">

<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="Sourcegraph">
<meta name="twitter:title" content="Sourcegraph">
<meta name="twitter:description" content="{{site.description}}">
<meta property="og:description" content="{{site.description}}">
<meta name="description" content="{{site.description}}">

<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<title>{{page.title}}</title>        
<!--
<meta property="og:type" content="object">
<meta name="twitter:card" content="summary">
<meta property="og:title" content=".Meta.ShortTitle">
<meta name="twitter:title" content=".Meta.ShortTitle">
<meta name="twitter:description" content=".Meta.Description">
<meta property="og:description" content=".Meta.Description">
<meta name="description" content=".Meta.Description">
-->