<div class="cf">
    <div class="primary">
        <a href="/" class="logo">Sourcegraph</a>
    </div>
    <div class="secondary">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="https://text.sourcegraph.com/">Blog</a></li>
            <li><a class="action-link" href="https://sourcegraph.com/login">Log in</a></li>
            <li><a class="action-button" href="https://sourcegraph.com/signup">Sign up</a></li>
        </ul>
    </div>
</div>