<div class="quote container centered padded-top">
    <h1 class="quote-text">"{{include.tweet}}"</h1>
    <div class="quote-meta">
        <img src="/assets/images/{{include.avatar}}" />
        <span>{{include.name}}</span>
        <a href="https://twitter.com/{{include.handle}}">@{{include.handle}}</a>
    </div>
</div>

“Sourcegraph brings the tools I used to have at Google to my engineers today, allowing us to use best in class developer tools at every stage of our company’s growth.”
- Ming Jiang, CTO at Redtea Mobile