<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Marketing</title>        
    </head>
    <body class="sprinkles dark-theme">

        {{ content }}

        <div class="quote container centered padded">
            <h1 class="quote-text">"Learning a new code base using <a href="#">@srcgraph</a> is extra dope! <a href="#">pic.twitter.com/6YWeYyyYZo</a>"</h1>
            <div class="quote-meta">
                <img src="assets/images/kelsey.png" />
                <span>Kelsey Hightower</span>
                <a href="#">@kelseyhightower</a>
            </div>
        </div>
        
        {%  include
            footer.html
            action1="master-plan"
            action2="jointheteam" %}

    </body>
</html>





