<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Marketing</title>        
    </head>
    <body class="sprinkles dark-theme">

        {{ content }}

        <div class="quote container centered padded">
            <h1 class="quote-text">"Learning a new code base using <a href="#">@srcgraph</a> is extra dope! <a href="#">pic.twitter.com/6YWeYyyYZo</a>"</h1>
            <div class="quote-meta">
                <img src="assets/images/kelsey.png" />
                <span>Kelsey Hightower</span>
                <a href="#">@kelseyhightower</a>
            </div>
        </div>
        <div class="footer container">
            <div class="footer-actions cf">
                <div class="action">
                    <div class="action-content">
                        <div class="action-title">Master plan</div>
                        <div class="action-description">What we're building and why it matters</div>
                    </div>
                    <div class="action-icon helm"></div>
                </div>
                <div class="action">
                    <div class="action-content">
                        <div class="action-title">Join the team</div>
                        <div class="action-description">Come build the global code graph</div>
                    </div>
                    <div class="action-icon sunglasses"></div>
                </div>
            </div>
            <div class="footer-links cf">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul>
                    <li><a href="#">Master plan</a></li>
                    <li><a href="#">Case study</a></li>
                    <li><a href="#">Docs</a></li>
                </ul>
                <ul>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Enterprise</a></li>
                </ul>
                <ul>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                <ul>
                    <li><a href="#">Beta program</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-tagline">
                <div class="primary">
                    <span>&copy; 2017 Sourcegraph, Inc.</span>
                    <a href="#"><img src="assets/images/twitter.svg" /></a>
                    <a href="#"><img src="assets/images/github.svg" /></a>
                    <a href="#"><img src="assets/images/linkedin.svg" /></a>
                </div>
                <div class="secondary">
                    <img src="assets/images/logo-mono.svg" />
                </div>
            </div>
        </div>
    </body>
</html>





