<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>Marketing</title>        
    </head>
    <body class="sprinkles dark-theme">

        {{ content }}

        <div class="padded-bottom">
            {%  
                include twitter.html 
                tweet="Learning a new code base using <a href=\"https://twitter.com/srcgraph\">@srcgraph</a> is extra dope!" 
                name="Kelsey Hightower" 
                handle="kelseyhightower" 
                avatar="kelsey.png" 
            %} 
        </div>
        
        {%  include
            footer.html
            action1="master-plan"
            action2="jointheteam" %}

        {%  include scripts.html %}

    </body>
</html>





