<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}    
        <link href="/assets/docs.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="light-theme">

        <div class="static-header">
            <div class="marketing-navigation container welcome" style="padding-bottom: 40px;">
                {% include navigation.html %}
            </div>    
        </div>

        <div class="container markdown-content padded cf" style="padding-top: 48px;">

            <div class="docs-menu">
                <ul>
                    <li><a href="/docs">Overview</a></li>
                    <li><a href="/docs/search">Code Search</a></li>
                </ul>
            </div>
            <div class="docs-content">
                <div class="breadcrumb">
                    <a href="{{page.id}}">{{page.title}}</a> 
                </div>
                {{ content }}
            </div>

        </div>
        
        {%  include
            footer.html
            action1="master-plan"
            action2="jointheteam" %}

        {% include scripts.html %}

    </body>
</html>