<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>{{title}}</title>        
    </head>
    <body class="light-theme">

        <div class="static-header">
            <div class="marketing-navigation container welcome">
                <div class="cf">
                    <div class="primary">
                        <a href="index" class="logo">Sourcegraph</a>
                    </div>
                    <div class="secondary">
                        <ul>
                            <li><a href="about">About</a></li>
                            <!--<li><a href="pricing">Pricing</a></li>-->
                            <!--<li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="centered cf markdown-header">
                    <h1>{{page.title}}</h1>
                    <h3>{{page.subtitle}}</h3>
                </div>
            </div>    
        </div>

        <div class="container markdown-content padded">

            {{ content }}

        </div>
        
        {%  include
            footer.html
            action1="master-plan"
            action2="jointheteam" %}

    </body>
</html>