<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <title>{{title}}</title>        
    </head>
    <body class="dark-theme">

        <div class="static-header">
            <div class="marketing-navigation container welcome">
                <div class="cf">
                    <div class="primary">
                        <a href="index" class="logo">Sourcegraph</a>
                    </div>
                </div>
            </div>    
        </div>

        <div class="container modal-content">

            {{ content }}

        </div>
        
    </body>
</html>