<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../assets/reset.css" rel="stylesheet" />
        <link href="../assets/clearfix.css" rel="stylesheet" />
        <link href="../assets/style.css" rel="stylesheet" />
        <title>Marketing</title>        
    </head>
    <body class="dark-theme">
        <div class="welcome light">
            <div class="marketing-navigation container">
                <div class="primary">
                    <a href="index" class="logo">Sourcegraph</a>
                </div>
                <div class="secondary">
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="pricing">Pricing</a></li>
                        <li><a href="https://text.sourcegraph.com/">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="centered cf markdown-header" style="padding-bottom: 46px">
                <h1>{{page.title}}</h1>
                <h3>{{page.subtitle}}</h3>
                <p class="header-call-to-action">{{page.callToActionTitle}} <a href="{{page.callToActionLink}}">{{page.callToActionText}}</a></p>
            </div>
            <div class="header-tabs container">
                <a class="tab" href="search/go">golang/go</a>
                <a class="active tab" href="search/webpack">webpack</a>
                <a class="tab" href="search/kubernetes">kubernetes</a>
            </div>
        </div>

        <div class="container padded">
            {{ content }}
        </div>
<!--
        <div class="padded-bottom">
            {%  
                include twitter.html 
                tweet="Learning a new code base using <a href=\"https://twitter.com/srcgraph\">@srcgraph</a> is extra dope!" 
                name="Kelsey Hightower" 
                handle="kelseyhightower" 
                avatar="../kelsey.png" 
            %} 
        </div>-->
        
        {%  include
            footer.html
            action1="master-plan"
            action2="jointheteam" %}

    </body>
</html>





